
.body {
  background-color: #282c34;
  color: white;
  padding: 50px;
}

a {
  color: #61dafb;
}
input[type="submit"],button {
  background-color: black;
  color: white;
  padding: 10px;
  margin-left: 20px;
  border-radius: 4px;
}

input[type="tel"],input[type="number"],input[type="email"]{
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


